@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
body {
  text-align: center;
  height: 100vh;
  color: #392d3d;
  background-image: linear-gradient(120deg, #502e64, #883585 );
}

.game-body {
  height: 100vh;
  opacity: 1;
  background-image:  linear-gradient(135deg, #ccfdff 25%, transparent 25%), linear-gradient(225deg, #ccfdff 25%, transparent 25%), linear-gradient(45deg, #ccfdff 25%, transparent 25%), linear-gradient(315deg, #ccfdff 25%, #ffffff 25%);
  background-position:  225px 0,225px 0, 0 0, 0 0;
  background-size: 225px 225px;
  background-repeat: repeat;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
  margin-bottom: 10vh;
}

.login-container {
  position: relative;
  width: 80vw;
}

.login-form-container {
  background-color: #E3BAC6;
  width: 80vw;
  padding: 20px 28px;
  border-radius: 1.8vh;
  z-index: 99;
  position: relative;
}

.login-form-container label input {
  margin: 12px 8px;
  padding: 10px;
  border-color: #6e356c7c;
  border-radius: 0.8vh;
  width: 90%;
  font-size: calc(10px + 2vmin);
}

.login-form-container label input::placeholder {
  color: #16131dab;
  font-weight: 600;
}

.login-form-container a button {
  margin: 0 8px;
  padding: 8px 18px;
  font-weight: 600;
  color: #E3BAC6;
  background-color: #6e356c;
  border-style: none;
  border-radius: 0.8vh;

}

.login-form-container a button:disabled {
  background-color: #922828;
}

.login-form-container a button:hover {
  background-color: #8a4287;
}

.login-form-container a button:disabled:hover {
  background-color: #772121;
}

.red-border {
  border: 1px solid red;
}

.green-border {
  border: 1px solid green;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: shake infinite 20s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}

.App-header {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(8px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes shake {

  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.correctAnswer {
  margin: 120px 0;
}

.incorrectAnswer {
  margin: 120px 0;
}


.points {
  display: flex;
  justify-content: center;
  color: #fff;
  width: 70%;
  font-size: calc(12px + 2vmin);
  background-color: #1f223b;
  margin: 20px auto;
  padding: 10px 40px;
  border: solid 5px #929292;
}

/* Game page css */

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  background-color: #663164;
  align-items: center;
  color: #E3BAC6;
}

.header-container div {
  display: flex;
  align-items: center;
}

.header-container div h3, .header-container div img {
  margin: 0 5px;
}

.header-container div img {
  width: 40px;
}

.score {
  background-color: #2fc941;
  padding: 20px;
  color: #16131D;
}

.red {
  color: rgb(184, 0, 0);
}

.timer  {
  margin-top: 14px;
  font-size: calc(44px + 2vmin);
  font-weight: 600;
  font-family: 'Fredoka One', cursive;
  height: 86px;
}

.tickAnimation {
  animation: tickAnimation 1s infinite;
}

.questions-container {
  width: 95%;
  height: fit-content;
  margin: auto;
  margin-bottom: 50px;
}

.question-category {
  font-size: calc(14px + 2vmin);
  margin-bottom: 15px;
}

.question-text {
  font-size: calc(18px + 2vmin);
  margin-bottom: 15px;
}


.answer-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 95vw;
  padding: calc(0px + 1vmin);
  background-color: #d6c0e0;
  height: fit-content;
  margin: auto;
  border-style: none;
}

.answer-options div {
  width: 45%;
  max-width: 45%;
  height: 10vh;
  margin: 4px 4px;
  border-radius: 1.6vh;
}

.answer-btn {
  width: 100%;
  max-width: 100%;
  height: 9.1vh;
  font-size: calc(10px + 2vmin);
  white-space: pre-line;
}

.answer-options div:nth-child(1) button {
  background-color: #E31A3C;
  border-style: none;
  color: #161310;
  font-weight: 600;
}

.answer-options div:nth-child(2) button {
  background-color: #1167CE;
  border-style: none;
  color: #161310;
  font-weight: 600;
}

.answer-options div:nth-child(3) button {
  background-color: #D79D00;
  border-style: none;
  color: #161310;
  font-weight: 600;
}

.answer-options div:nth-child(4) button {
  background-color: #26890C;
  border-style: none;
  color: #161310;
  font-weight: 600;
}

.answer-options div:nth-child(1) button:disabled {
  background-color: #e31a3c6c;
  border-style: none;
  color: #161310;
  font-weight: 600;
  
}

.answer-options div:nth-child(2) button:disabled  {
  background-color: #1166ce6c;
  border-style: none;
  color: #161310;
  font-weight: 600;
  
}

.answer-options div:nth-child(3) button:disabled  {
  background-color: #D79D006c;
  border-style: none;
  color: #161310;
  font-weight: 600;
  
}

.answer-options div:nth-child(4) button:disabled  {
  background-color: #26890C6c;
  border-style: none;
  color: #161310;
  font-weight: 600;
  
}

.answer-options div:nth-child(1) button:hover{
  background-color: #ff2d50;
  border-style: none;
  color: #161310;
  font-weight: 600;
}

.answer-options div:nth-child(2) button:hover {
  background-color: #277ce6;
  border-style: none;
  color: #161310;
  font-weight: 600;
}

.answer-options div:nth-child(3) button:hover {
  background-color: #eeb822;
  border-style: none;
  color: #161310;
  font-weight: 600;
}

.answer-options div:nth-child(4) button:hover {
  background-color: #36b416;
  border-style: none;
  color: #161310;
  font-weight: 600;
}

.btn-next {
  padding: 16px 52px;
  font-size: calc(14px + 2vmin);
  font-weight: 600;
  border-radius: 1.6vh;
  border-style: none;
  background-color: #2fc941;
}

.btn-next:hover {
  background-color: #34e949;
  color: #ffffff;
}

@keyframes tickAnimation {
  from { font-size: calc(44px + 2vmin); }
  to { font-size: calc(56px + 2vmin);};
}


/* feed back */ 

.feedback_body {
  height: 100vh;
  opacity: 1;
  background-image:  linear-gradient(135deg, #ccfdff 25%, transparent 25%), linear-gradient(225deg, #ccfdff 25%, transparent 25%), linear-gradient(45deg, #ccfdff 25%, transparent 25%), linear-gradient(315deg, #ccfdff 25%, #ffffff 25%);
  background-position:  225px 0,225px 0, 0 0, 0 0;
  background-size: 225px 225px;
  background-repeat: repeat;
}

.feedback_title {
  margin: 60px auto;
}

.feedback_message {
  margin: 30px auto;
  color: #fff;
  display: flex;
  justify-content: center;
  width: 70%;
  background-color: #1f223b;
  margin: 20px auto;
  padding: 10px 40px;
  border: solid 5px #929292;
}

.feedback_score {
  font-size: calc(80px + 2vmin);
  color: rgb(189, 189, 0);
  display: flex;
  justify-content: center;
  width: 70%;
  background-color: #1f223b;
  margin: 20px auto;
  padding: 10px 40px;
  border: solid 5px #929292;
}

.total_question {
  color: #fff;
  display: flex;
  justify-content: center;
  width: 70%;
  background-color: #1f223b;
  margin: 20px auto;
  padding: 10px 40px;
  border: solid 5px #929292;
}

.play_again, .ranking {
  width: calc(148px + 2vmin);
  height: 55px;
  font-size: calc(14px + 2vmin);
  padding: 5px;
  margin: 5px 20px;
  border-style: none;
  background-image: linear-gradient(180deg, #a0519d, #844d9e);
}

.ranking_title {
  color: #fff;
  margin: 20px auto;
}

.ranking_player {
  color: #fff;
  display: flex;
  margin: 10px auto;
  background-image: linear-gradient(210deg, rgb(39, 39, 36), rgb(17, 17, 15));
  justify-content: space-between;
  align-items: center;
  width: 90%;
  background-color: #1b1f1c;
  border: solid 3px rgb(99, 92, 82);
  text-align: center;
}

.ranking_body div:nth-child(2) {
  background-color: gold;
  background-image: linear-gradient(210deg, gold, rgb(65, 56, 6));
  font-size: calc(16px + 2vmin);
  color: #000;
  font-weight: 1000;
  text-align: center;
}

.ranking_body div:nth-child(3) {
  background-color: silver;
  background-image: linear-gradient(210deg, silver, rgb(71, 71, 71));
  font-size: calc(12px + 2vmin);
  color: #000;
  font-weight: 1000;
  text-align: center;
}

.ranking_body div:nth-child(4) {
  background-color: #b87333;
  background-image: linear-gradient(210deg, #b87333, #4b3018);
  font-size: calc(10px + 2vmin);
  color: #000;
  font-weight: 1000;
  text-align: center;
}

.ranking_player img, .ranking_player p {
  width: 45px;
  margin: 5px;
}

@media screen and (min-width: 768px ) {

  .ranking_player {
    width: 50%;
    padding: 4px 14px;
  }
  .correctAnswer {
    margin: 60px 0;
  }

  .incorrectAnswer {
    margin: 60px 0;
  }

  .points, .feedback_message, .total_question {
    font-size: calc(8px + 2vmin);
    width: 25%;
  }

  .feedback_score {
    font-size: calc(70px + 2vmin);
    width: 25%;
  }

  .login-container {
    width: 100%;
  }

  .login-form-container {
    width: 30%;
    margin: auto;
  }

  .login-form-container label input {
    font-size: calc(6px + 2vmin);
  }
  .questions-container {
    width: 60%;
    height: fit-content;
    margin: auto;
    margin-bottom: 50px;
  }

  .answer-btn {
    margin: auto;
    font-size: calc(6px + 2vmin);
  }

  .answer-options {
    width: 90%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }
}
