@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
body {
  text-align: center;
  height: 100vh;
  color: #E3BAC6;
  background-color: #30172f;
  opacity: 1;
  background-image:  linear-gradient(135deg, #381a37 25%, transparent 25%), linear-gradient(225deg, #381a37 25%, transparent 25%), linear-gradient(45deg, #381a37 25%, transparent 25%), linear-gradient(315deg, #381a37 25%, #692e67 25%);
  background-position:  225px 0,225px 0, 0 0, 0 0;
  background-size: 225px 225px;
  background-repeat: repeat;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
  margin-bottom: 10vh;
}

.login-container {
  position: relative;
}

.login-form-container {
  background-color: #E3BAC6;
  padding: 20px 28px;
  border-radius: 1.8vh;
  z-index: 99;
  position: relative;
}

.shadow {
  padding: 80px 125px;
  border-radius: 1.8vh;
  background-color: #00000080;
  position: absolute;
  top: 10px;
  filter: blur(0.4rem);
  left: calc(2px + 2vmin);
  bottom: calc(-26px + 2vmin);
}

.login-form-container label input {
  margin: 12px 8px;
  padding: 6px;
  border-color: #6e356c7c;
  border-radius: 0.8vh;
  
}

.login-form-container label input::placeholder {
  color: #16131dab;
  font-weight: 600;
}

.login-form-container a button {
  margin: 0 8px;
  padding: 6px 14px;
  font-weight: 600;
  color: #E3BAC6;
  background-color: #6e356c;
  border-style: none;
  border-radius: 0.8vh;
}

.login-form-container a button:disabled {
  background-color: #922828;
}

.login-form-container a button:hover {
  background-color: #8a4287;
}

.login-form-container a button:disabled:hover {
  background-color: #772121;
}

.red-border {
  border: 1px solid red;
}

.green-border {
  border: 1px solid green;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: shake infinite 20s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}

.App-header {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(8px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes shake {

  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.correctAnswer {
  background-color: rgb(6, 240, 15);
}

.incorrectAnswer {
  background-color: red;
  opacity: 0.5;
}


/* Game page css */

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  background-color: #4B244A;
  align-items: center;
  color: #E3BAC6;
}

.header-container div {
  display: flex;
  align-items: center;
}

.header-container div h3, .header-container div img {
  margin: 0 5px;
}

.header-container div img {
  width: 40px;
}

.score {
  background-color: #2fc941;
  padding: 20px;
  color: #16131D;
}

.red {
  color: rgb(255, 0, 0);
}

.timer  {
  margin-top: 14px;
  font-size: calc(44px + 2vmin);
  font-weight: 600;
  font-family: 'Fredoka One', cursive;
  height: 86px;
}

.tickAnimation {
  animation: tickAnimation 1s infinite;
}

.questions-container {
  width: 95%;
  height: fit-content;
  margin: auto;
  margin-bottom: 50px;
}

.question-category {
  font-size: calc(14px + 2vmin);
  margin-bottom: 15px;
}

.question-text {
  font-size: calc(18px + 2vmin);
  margin-bottom: 15px;
}


.answer-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 95vw;
  padding: calc(0px + 1vmin);
  background-color: #d6c0e0;
  height: fit-content;
  margin: auto;
  border-style: none;
}

.answer-options div {
  width: 45%;
  max-width: 45%;
  height: 10vh;
  margin: 4px 4px;
  border-radius: 1.6vh;
}

.answer-btn {
  width: 100%;
  max-width: 100%;
  height: 9.1vh;
  font-size: calc(10px + 2vmin);
  white-space: pre-line;
}

.answer-options div:nth-child(1) button {
  background-color: #a51919;
  border-style: none;
  color: #161310;
  font-weight: 600;
}

.answer-options div:nth-child(2) button {
  background-color: rgb(163, 161, 27);
  border-style: none;
  color: #161310;
  font-weight: 600;
}

.answer-options div:nth-child(3) button {
  background-color: #1927a5;
  border-style: none;
  color: #161310;
  font-weight: 600;
}

.answer-options div:nth-child(4) button {
  background-color: #30a519;
  border-style: none;
  color: #161310;
  font-weight: 600;
}

.answer-options div:nth-child(1) button:disabled {
  background-color: #751111;
  border-style: none;
  color: #161310;
  font-weight: 600;
  
}

.answer-options div:nth-child(2) button:disabled  {
  background-color: rgb(114, 112, 20);
  border-style: none;
  color: #161310;
  font-weight: 600;
  
}

.answer-options div:nth-child(3) button:disabled  {
  background-color: #131e7a;
  border-style: none;
  color: #161310;
  font-weight: 600;
  
}

.answer-options div:nth-child(4) button:disabled  {
  background-color: #227411;
  border-style: none;
  color: #161310;
  font-weight: 600;
  
}

.answer-options div:nth-child(1) button:hover{
  background-color: #f52727;
  border-style: none;
  color: #161310;
  font-weight: 600;
}

.answer-options div:nth-child(2) button:hover {
  background-color: rgb(241, 238, 38);
  border-style: none;
  color: #161310;
  font-weight: 600;
}

.answer-options div:nth-child(3) button:hover {
  background-color: #2a3ff5;
  border-style: none;
  color: #161310;
  font-weight: 600;
}

.answer-options div:nth-child(4) button:hover {
  background-color: #47f025;
  border-style: none;
  color: #161310;
  font-weight: 600;
}

.btn-next {
  padding: 16px 52px;
  font-size: calc(14px + 2vmin);
  font-weight: 600;
  border-radius: 1.6vh;
  border-style: none;
  background-color: #2fc941;
}

.btn-next:hover {
  background-color: #34e949;
  color: #ffffff;
}

@keyframes tickAnimation {
  from { font-size: calc(44px + 2vmin); }
  to { font-size: calc(56px + 2vmin);};
}

@media screen and (min-width: 768px ) {
  .questions-container {
    width: 60%;
    height: fit-content;
    margin: auto;
    margin-bottom: 50px;
  }

  .answer-btn {
    margin: auto;
    font-size: calc(6px + 2vmin);
  }

  .answer-options {
    width: 90%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }
}
